{% block body %}
	<div class="container">
		<div class="col-12 d-flex justify-content-center">
			<div class="col-6">
				{{ form_start(form) }}
				{{ form_row(form.user, {}) }}
				{{ form_row(form.email, {}) }}
				{{ form_row(form.addresse, {}) }}
				{{ form_row(form.isSPA, {}) }}
				{{ form_row(form.isEleveur, {}) }}
				{{ form_row(form.nomAsso, {}) }}
				{{ form_row(form.telephone, {}) }}
				<button type="submit" class="btn btn-primary">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
	{% endblock %}